.explorer-container {
  max-width: 800px;
  margin: 0 auto;
}

.button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  margin: 0 auto;
  justify-content: space-evenly;
  max-width: 800px;
}

.explore-btn {
  background-color: whitesmoke;
  border: transparent;
  border-radius: 6px;
  box-shadow: 0 0 6px -1px grey;
  font-size: larger;
  font-weight: 600;
  height: 9vh;
  max-width: 600px;
}
